.tree-ul {
  list-style: none;
  position: relative;
  cursor: pointer;
}
.tree-ul::before {
  content: "";
  background-size: 50px 40px;
  position: absolute;
  left: 10px;
  top: 50px;
}

.tree-li {
  list-style: none;
}
.tree-img {
  position: absolute;
  left: 20px;
}